* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
/* style of header | navigation bar */
header {
  margin: 2em;
}
header > nav > ul > li {
  list-style-type: none;
  margin: 1em;
  color: #21243d;
  font-weight: 500;
}
.header-content {
  margin-top: 3em;
}
a {
  text-decoration: none;
  color: #21243d;
}
header > nav > ul {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 700px) {
  header nav ul {
    justify-content: center;
  }
}
/* style of header-section first content */
header .container {
  padding: 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 0;
}
section h1 {
  font-weight: 700;
  font-size: 2em;
  color: #21243d;
}
section p {
  font-weight: 400;
  font-size: 1em;
  color: #21243d;
  margin: 1em 0;
}
section > .image > img {
  width: 20em;
  height: 19em;
  display: block;
  border-radius: 50%;
}
.header-of-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .header-of-page {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
}
section button {
  font-weight: 500;
  font-size: 1em;
  color: white;
  margin: 1em 0;
  background-color: #ff6464;
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  cursor: pointer;
}
section button:hover {
  background-color: #ff4d4d;
}
section button:active {
  background-color: #ff3b3b;
}
.header-content a {
  color: #e12e2e;
}
/* style of customers reviews section */
.customer-reviewes {
  background-color: #edf7fa;
}
.customer-reviewes h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: #21243d;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards > .card {
  background-color: white;
  position: relative;
  width: 300px;
  margin: 1em auto;
  border-radius: 2em;
  overflow: hidden;
}
@media (max-width: 700px) {
  .cards > .card {
    width: 95%;
  }
}
.card .category {
  position: absolute;
  background-color: #21243d;
  padding: 0.5em;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.8rem;
  top: 1em;
  left: 1em;
  color: white;
}
.cards .card .card-main {
  padding: 1em;
}
.card .card-main .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #21243d;
}
.card .card-main .description {
  margin-top: 0.5em;
  color: #21243d;
}
.cards .card .card-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.checked {
  color: orange;
}
/* style of work section */
.works-section h3 {
  text-align: center;
}
.works-section h3 {
  font-weight: 700;
  font-size: 2.5em;
  color: #21243d;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}
.project-card {
  background-color: white;
  color: #21243d;
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.project-card-img {
  object-fit: cover;
  flex-basis: 380px;
  min-width: 0;
  min-height: 0;
  border-radius: 5%;
}
.project-card-content {
  padding: 1em;
}
.project-card-title {
  color: #21243d;
  font-size: 1.75rem;
  margin: 0;
}
.prject-card-body {
  font-size: 1rem;
  line-height: 1.6;
}
.project-card .category {
  display: inline-block;
  background-color: #21243d;
  width: 70px;
  padding: 0.5em;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  margin: 1em 0 1em 0;
  text-align: center;
}
.project-card span {
  color: #21243d5b;
  font-size: 1rem;
}
hr {
  border: 1px solid #e0e0e0;
  max-width: 1000px;
}
/* style of the footer */
.icons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
}
.icons > i {
  font-size: 2em;
  color: #21243d;
}
footer > p {
  max-width: 1000px;
  font-weight: 400;
  font-size: 1em;
  color: #21243d;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2em;
}
